
.owl-nav{
  text-align: center;
  scale: 1.5;
}
.owl-prev, .owl-next{
  margin: 5px;
  background-color: white;
  transition: all 350ms ease;
}

.owl-prev:hover, .owl-next:hover{
  scale: 1.6;
  background-color: rgba(100,100,100,0.5);
}