
* {
  margin: 0;
  padding: 0;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

html {
  height: 100%;
}


#selector {
 /* display: block; */
  position: relative;
  width: 320px;
  height: 55px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px 20px 20px 20px;
}

#marge{
    margin-left: 50px;
}

/* Select style here */

select {
  margin: auto 0 ;
  color: #970555;
  width: 310px;
  padding: 15px;
  height: 25px;
  cursor: pointer;
}

select:hover {
  background-color: transparent;
  color: white;
  padding: 15px 5px 15px 25px;
}

select option {
  background-color: white;
  color: #970555;
  width: 310px;
  padding: 10px 15px;
  height: 20px;
  cursor: pointer;
}

select option:hover {
  padding-left: 25px;
  width: 270px;
  color: black;
}


#buttonConfirmer{
    position: relative;
    width: 300px;
     height: 50px;
      padding: 1.3em 3em;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #000;
      background-color: #fff;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
  }
  #buttonConfirmer:hover {
    background-color: #970555;
    box-shadow: 0px 45px 60px #03030366;
    color: #fff;
    transform: translateY(-7px);
  }
  
#buttonConfirmer:active {
    transform: translateY(-1px);
  }