/* pour que la page prennent toute la place */
*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat";
}

/* pour que le body prenne toute la place */
body{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* pour les titres de pages */
h1 {
    color:rgba(0,0,0,0.75);
    font-size: 35px;
    text-align: center;
    padding: 15px;
    margin-top: 100px;
    text-decoration: underline 2px;
    text-decoration-color:purple;
}

/* pour les sous titres (titres de parties) */
h2 {
    font-family: "helvetica";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 24px;
    margin-left: 150px;
    text-align:justify;
}


p {
    margin-left: 150px;
    margin-right: 150px;
    text-align: justify;
}

ul
{
  list-style-type: none;
}

/* pour les liens du footer */
a {
    color: white;
}


/* pour le lien du retour a la page d'acceuil */
.txtFooter{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 50px;
}


/* pour le logo et ... */
header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: 0%;
    height: 75px;
    text-transform: uppercase;
    background-color: whitesmoke;
}

#headerImg{
    display: flex;
    flex-basis: 60%;
}

#headerBtns {
    display: flex;
}

#logoSlogan{
    display: flex;
    justify-content: center;
    margin: auto;
}

#registerButton{
    margin: 5%;
    width: 150px;
    height: 35px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #970555;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease   0s;
    cursor: pointer;
    outline: none;
}
#registerButton:hover {
    background-color: #970555;
    box-shadow: 0px 45px 60px #03030366;
    color: #fff;
    transform: translateY(-7px);
  }
  
#registerButton:active {
    transform: translateY(-1px);
  }

  #route_des_vins{
    margin: 5%;
    width: 150px;
    height: 35px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #970555;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease   0s;
    cursor: pointer;
    outline: none;
}
#route_des_vins:hover {
    background-color: #970555;
    box-shadow: 0px 45px 60px #03030366;
    color: #fff;
    transform: translateY(-7px);
  }
  
#route_des_vins:active {
    transform: translateY(-1px);
  }
/* pour le footer */
footer {
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:rgb(7,3,41);
    color: white;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
}


#payementSecu {
    position: relative;
    width: 220px;
    height: 40px;
}

#txtPayementSecu{
    display: flex;
    flex-direction: column;
    position: relative;
    float: right;
    padding-bottom: 30px;
}


